header {
    display: flex;
    justify-content: space-between;
    padding-right: 10%;
    align-items: center;
}

.header_links {
    display: flex;
    justify-content: space-between;
    margin-right: 6%;
}

.hlinks {
    justify-content: space-between;
    margin: 10%;
}

#logo {
    height: auto;
    max-width: 100px;
    border-radius: 10%;
}
header, .div_1, footer {
    background-color: #355935;
}

a {
    text-decoration: none;
    color:aliceblue
}

a:hover {
    color: tan;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

.div_1 {
    margin-top: -16px;
    display: ;
    justify-content: space-between;
    }

#hero1 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

#hero2 {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: forestgreen;
    color: #e5e7eb;
    border-radius: 10%;
    border: none;
    width: 100px;
    height: 40px;
}

#hero_img {
    height: auto;   
    max-width: 400px;
    border-radius: 10%;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 50px;
    padding-top: 50px;
}

.topleft {
    padding-right: 50px;
    display: flex;
    align-items: left;
    flex-direction: column;
    vertical-align: auto;
}

.info_img {
    height: 250px;
    width: 250px;
    border-radius: 10%;
    display: block;
}

.div_2 {
    display: flex;
    flex-direction: column;
   
}




    
.div_3 {
    background-color: #E5E7EB;
}

#credit {
    text-align: right;
}

.div_4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: forestgreen;
    color: #e5e7eb;
    margin: 50px 25%;
    padding-right: 10%;
    border-radius: 10%;

}




#but_2 {
    border: 2px white solid;
}

body {
    margin: 0;
}

.logo, .div_1, .div_2, .div_3, .div_4, footer {
    padding: 0 10%;
}

.div_3 {
    padding: 50px 20%;
}

#quote {
    font-style: italic;
}

#credit {
    font-weight: bold;
}

footer {
    text-align: center;
    color: #E5E7EB;
    padding-top: 25px;
    padding-bottom: 25px;
}

#info {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.info_img {
    margin-bottom: 20px;
}
.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   flex-wrap: wrap;
    padding-top: 25px;
    padding-bottom: 50px;
}

figcaption {
    text-align: center;
    flex-wrap: wrap;
    max-width: 250px;
}

.info1, .info2, .info3, .info 4 {
    display: flex;
    align-items: center;
}