header {
    display: flex;
    justify-content: space-between;
    padding: 1% 1%;
    align-items: center;
}

#logo {
    height: auto;
    max-width: 200px;
}
header, .div_1, footer {
    background-color: #1f2937;
}

a {
    text-decoration: none;
    color:aliceblue
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

.div_1 {
    margin-top: -16px;
    display: ;
    justify-content: space-between;
    }

#hero1 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

#hero2 {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 10%;
    border: none;
}

#hero_img {
    height: auto;   
    max-width: 400px;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info_img {
    height: 250px;
    width: 250px;
}

.div_2 {
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.info > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info > p {
    margin:auto;
}
    
}